@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'form.scss';

* {
  font-family: Roboto;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
